* {
    padding: 0;
    margin: 0;
}

body {
    font: 13px "Segoe UI", Ubuntu, "lucida grande", tahoma, sans-serif;
}

:focus {
    outline: none;
}

/* === Header === */

.b-header {
    width: 100%;
    height: 50px;
    background: #133D69;
    color: #fff;
    font-size: 14px;
    position: fixed;
    left: 0;
    top: 0;
}

.b-header:after {
    content: "";
    display: table;
}

.b-header__title {
    width: 210px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
    line-height: 50px;
}

.b-header__col {
    float: left;
    padding-top: 10px;
}

.b-header__col.-left {
    padding: 0;
}

.b-header__col.-right {
    float: right;
    padding-right: 10px;
}


/* === Search === */

.b-search {
    position: relative;
    float: left;
    margin-right: 10px;
}

.b-search__btn {
    width: 30px;
    height: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH3wgDDSkUWz04sAAAAN1JREFUOMvtlLtuwkAQRe9QIQvxCNguIwQVoYgUQZkqfaDnr/mMEKR0VByaXWmzWWMb0iW3Ge2dmSN7xl7pz8lSJjCStJSUSTpK2pvZqTUd6ABb0nq5BbgJAAugBNaB99QGNg4aO1Fu4BN1nLBx4aOZnb8N2uxL0sbBi6bAnovHilrv95sCP118rKj1/sE96Q/FM8yCXD/KzeMmoIh4RWoxq6DgHXgFdlHjJKifOm96bdtL6pX7t2rzGZXADBi6c56C3qUEdHxty/U/vtmHpDKwnn/lRgEegDegq39dAH57NKTXvdwVAAAAAElFTkSuQmCC) no-repeat center;
    border: none;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.b-search__btn:after {
    content: "";
    position: absolute;
    width: 1px;
    top: 4px;
    bottom: 4px;
    right: 0;
    background: rgba(255, 255, 255, .2);
}

.b-search__inp {
    width: 315px;
    height: 30px;
    border: none;
    padding-left: 35px;
    background: rgba(255, 255, 255, .1);
    // color: #fff;
    font: 14px "Segoe UI", Ubuntu, "lucida grande", tahoma, sans-serif;
}

.b-search__inp:focus {
    background: #fff;
}

.b-search__inp:focus + .b-search__btn {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABW0lEQVQ4y+XTv2/NYRTH8ZcSsxBhaBOU+gM0MWC4S1ViMDaRMH5iFRJ7JUYxnsUmBqt0dCUmo7Wpqh9laAh2iaEP+fb23vTelWc53+d7Pud9zvfzPF/+u7Vv2MuqmsEiDuM9VpL8nBhYVftxH3dwoJP6iltJnu0FnBrYL+MeXuEyzuI6fuBpVS3uBfw7RVWdwF28wEKSXy21WlV9vMGj1mSsCRdagwcdGEjyBYW5qjozLvBIix9GaD+2eGysT7Z9mjCP1SHa+RbXm0XrONnJv0tyqjvhCr5huaqOd0lVdRE30E/yuWPRVnveavtd12YJT2xfk8InnMNNHGx29JL8mfI8nuNqkte7gE10BQ/tPM0+TmOmedlL8raqDiX53q0f+qc08ByOYiPJZlXNNvAO6GDdSOCIJrN4ielmx6UkG13N1CTANlGvwaZxbVAzEbBB13ABt/F40vp/cP0GAaxrOHQ1OlwAAAAASUVORK5CYII=);
}

.b-search__inp:focus + .b-search__btn:after {
    background: #ccc;
    top: 0;
    bottom: 0;
}


/* === Menu === */

.b-menu {
    float: left;
}

.b-menu__item {
    color: #fff;
    text-decoration: none;
    opacity: .6;
    padding: 0 15px 0 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.b-menu__item.-active,
.b-menu__item:hover {
    opacity: 1;
}

/* === Notifications */

.b-notifications {
    width: 30px;
    height: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAApklEQVQ4y+WTsQ3CQAxFnyMKmsxAGwoKCqgQE2SBpGYARmEAdqKElj2QPo0rdHcxiaCA3/n8/7Ml6+DvZEMGSUug8fJmZtdRQEkz4ACsX1oX4Gxmj1SuKgxrEzD8rc2FSsDdmF4SKGkO1AVg7Z7whoPHynmqQPAtfQ24CWS3IaCkPdAHgJ1780BJK4dFj9J75nOK/OUFcPTyZGb3yVMlNZKayaDf1BNyFiyWiUJgIwAAAABJRU5ErkJggg==) no-repeat center;
    border: none;
    cursor: pointer;
}

.b-notifications:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAkUlEQVQ4y+WQsQ3CQAxFv69IB9Nkg6PLBDBBFsk6mSAMRAoK6PNoUiBQ8N0RUYQnubBlvy9Z+jvMWwAOkuLcns1sKEoCKqDnnR6oSoQdy3QlwvGD8JL1Q2An6eZk7s3s/joMC8tBPqH0MIufCY8Jt6ekBKAFJnwmoPVkTaLsWdqs/bY8gBq4zlWvJY1A/N60SR5HtuBlaRSe2wAAAABJRU5ErkJggg==);
}

/* === User === */

.b-user {
    height: 30px;
    line-height: 30px;
    opacity: .6;
    float: right;
    margin-left: 15px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Segoe UI", Ubuntu, "lucida grande", tahoma, sans-serif;
    padding-right: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAc0lEQVQ4y+3QIQ7CQBSE4X/qkNwK24NwHQxoskfA9gh1pL6XqOhgniBkHympwOwn32Rmk4Wm+T9lge0T0H/pDpLun8cufUl6AEMSj0CpBelgKFF+NwE3SevPg1G6As84zcBF0rLpQzO2D7bPto+7hpqm7gWKihpXef+HXwAAAABJRU5ErkJggg==) no-repeat right center;
}

.b-user:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAUUlEQVQ4y+3QoQ2AMBRF0SZVYLoAgzJJ98DgCDuw0MFUkBAQLQLR4/9N3g+h634Ms3e5JpofYgtiTTCW46sdY8v0AVuJHUhf/DNhxdQc67q7E1wTde4sy6dyAAAAAElFTkSuQmCC);
    opacity: 1;
}


/* === Sidebar === */

.b-side {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0; 
    width: 230px;
    background: #F5F5F5;
    padding-top: 8px;
}

/* === Folders === */

.b-folders__item {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    padding: 0 10px 0 30px;
    display: block;
    text-decoration: none;
    color: #222;
}

.b-folders__item.-active { 
    border-left: 3px solid #133D69;
    padding-left: 27px;
    font-weight: 600;
}

.b-folders__item.-active, 
.b-folders__item:hover {
    background: #E7E7E7;
}